@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);

body{
    padding: 0;
    margin: 0;
    background-color: #1f2124;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    font-family: Nunito;
}

h1, h5{
    font-family: EB Garamond;
}

.logo{
    max-width: 50px;
}

@media (max-width:900px) {
    .carousel-inner img{
        min-height: 550px;
        max-width: 100%;
    }
}

@media (max-width:800px) {
    .carousel-inner img{
        min-height: 450px;
        max-width: 100%;
    }
}

@media (max-width:450px) {
    .carousel-inner img{
        min-height: 300px;
        max-width: 100%;
    }
}

@media (max-width:450px) {
    .carousel-inner img{
        min-height: 200px;
        max-width: 100%;
    }
}

.carousel-inner img{
    max-height: 600px;
}

.card img{
    max-width: 286px;
    max-height: 197px;
}

.card{
    width: 18rem;
    transition: 0.5s;
}

@media (max-width:900px) {
    .card{
        width: 15rem;
    }
}

@media (max-width:800px) {
    .card{
        width: 12rem;
    }
}

@media (max-width:425px) {
    .card{
        width: 18rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width:425px) {
    .cards{
        flex-wrap: wrap;
    }
}

.card:hover{
    transform: scale(1.1);
}

.card a:hover{
    text-decoration: underline;
}

.txt{
    flex-wrap: wrap;
}

@media (max-width:425px) {
    .art{
       width: 400px;
    }
}

.img{
    max-width: 500px;
}

@media (max-width:900px) {
    .img{
        max-width: 400px;
    }
}

@media (max-width:800px) {
    .img{
        max-width: 300px;
    }
}

.img_3{
    max-height: 500px;
}
